 
<div class="header-wrap" data-target="si-menu--widget-layout-45.stickyHeader">
  <div class="navigation">
      <div class="site-logo">
              <a href="/">
                  <h1 class="logo"></h1>
              </a>
      </div>
      <div class="nav-wrap">

<div class="nav-top">
<!-- Comment out match-updates off-season -->
<div class="match-updates">
<h2 class="title"> IPL Champions <div class="trophy">
                                  <img src="https://www.mumbaiindians.com/static-assets/images/cssimages/ipl-champions-2019(3).png" alt=" IPL Champions Mumbai Indians 2019">
                              </div> '13 '15 '17 '19 '20</h2>
</div>
 
</div>
          <div class="nav-middle">
              <nav class="" data-target="si-menu--widget-layout-45.mobileMenu">
                  <ul class="main-nav" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
                                          <li><a itemprop="url"  routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-home" aria-hidden="true"></i><span class="newsub">Home </span></a> </li>
                                          <li itemprop="" class=""><a itemprop="url" routerLink="signup" routerLinkActive="active-link" ><i class="fa fa-user-plus" aria-hidden="true"></i><span class="newsub">SignUp</span></a></li>
                                          <li itemprop="name" class=""><a itemprop="url"   routerLink="signin" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-sign-in" aria-hidden="true"></i><span class="newsub">SignIn</span></a></li>
                                          <li itemprop="name" class=""><a itemprop="url" routerLink="contacts" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-user-o" aria-hidden="true"></i><span class="newsub">Contact</span></a></li>
                                          <li itemprop="name" class=""><a itemprop="url"   routerLink="about" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-sticky-note-o" aria-hidden="true"></i><span class="newsub">About</span></a></li>
                                          <li itemprop="name" class=""><a itemprop="url"   routerLink="table" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-list" aria-hidden="true"></i><span class="newsub">StaffList</span></a></li>
                                           
                     
                  </ul>
              </nav>
              
          </div>
      </div>
  </div>
</div>

