<div id="contain">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="title">Updated !</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="content">
                The details has been updated succesfully.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 b">
                <button class="btn btn-success" (click)="bye()">Ok</button>
            </div>
        </div>
    </div>
</div>
